/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(/Image/Santo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 22px;
}
.header__register {
  color: white;
  text-decoration: none;
}
.header__register:hover {
  text-decoration: underline;
}
.header__imagenes {
  color: white;
  text-decoration: none;
}
.header__imagenes:hover {
  text-decoration: underline;
}
.header__svg-app {
  height: 16px;
  width: 16px;
}
.header__perfil {
  height: 35px;
  width: 35px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  display: flex;
  padding-top: 87px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 25px;
}
.main__logo {
  height: 92px;
  width: 272px;
}
.main__search-bar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 561px;
  border-radius: 44px;
}
.main__search {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-left: 16px;
}
.main__write-url {
  border: none;
  border: none;
  font-size: 14px;
  height: 100%;
  width: 261px;
  outline: none;
}
.main__microphone {
  padding-right: 13px;
  cursor: pointer;
}
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.main__quick-access {
  display: flex;
  background-color: #f1f3f4;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
}
.main__icon {
  height: 24px;
  width: 24px;
}