extends ../layout/por-defecto

block main 
	.app
		.main
			.main__google
				img.main__logo(src="Icons/google_logo.svg", alt="")
			.main__search-bar
				.main__search 
					img.main__lupa(src="Icons/Icon_search_lupa.svg", alt="")
					p.main__write-url Buscar en Google o escribir una URL
				.main__microphone
					img.main__svg-microphone(src="Icons/Icon_search_Microfhone.svg", alt="")