* {
	box-sizing: border-box;
}

body {
	background-image: url(/Image/fondo5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}