.main {
	display: flex;
	padding-top: 87px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	gap: 25px;

	&__logo {
		height: 92px;
		width: 272px;
	}

	&__search-bar {
		display: flex;
		background-color: white;
		justify-content: space-between;
		align-items: center;
		height: 44px;
		width: 561px;
		border-radius: 44px;
	}

	&__search {
		display: flex;
		align-items: center;
		gap: 13px;
		padding-left: 16px;
	}

	&__write-url {
		border: none;
		border: none;
		font-size: 14px;
		height: 100%;
		width: 261px;
		outline: none;
	}

	&__microphone {
		padding-right: 13px;
		cursor: pointer;
	}

	&__padre {
		display: flex;
		justify-content: center;
	}

	&__container {
		display: grid;
		gap: 5px;
		grid-template-columns: repeat(auto-fill, minmax(120px, 105px));
	}

	&__capsule {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__quick-access {
		display: flex;
		background-color: rgba(241, 243, 244, 1);
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		height: 48px;
		width: 48px;
	}

	&__icon {
		height: 24px;
		width: 24px;
	}




}